<div id="cookie-banner">
    <div class="cookie-content">
        <p>We use cookies to improve your experience.</p>
        <div class="cookie-buttons">
            <button onclick="declineCookies()">Decline</button>
            <button onclick="acceptCookies()">Accept</button>
        </div>
    </div>
</div>