<header>
   
    <nav>
        <div class="logoContainers">
            <img src="~/Images/Pegasus_med_bakgrund.png" class="pgLogo" />
            <h2 class="logoText"><a asp-controller="Home">PEAGASUS TRANSPORT</a></h2>
        </div>
        <ul class="nav-link">
            <li>
                <a asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index">ABOUT</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index">CONTACT</a>
            </li>
        </ul>
        <div >
            <a class="bookingLink" asp-controller="Booking" asp-action="Index">BOOKING</a>
        </div>
    </nav>
</header>