<header>
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid px-lg-5 justify-content-center">
           
            <a class="navbar-brand logo-containers" asp-controller="Home" asp-action="Index">
                <img src="~/Images/Pegasus_med_bakgrund.png" class="pgLogo" alt="Pegasus Logo" />
                <span class="logoText">PEGASUS TRANSPORT</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

        
            <div class="collapse navbar-collapse"  id="navbarNav">
                <ul class="navbar-nav mx-auto nav-link">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">LOGIN</a>
                    </li>
                </ul>

           
                <div class="ms-auto">
                    <a class="bookingLink" asp-controller="Booking" asp-action="Index">BOOKING</a>
                </div>
            </div>
        </div>
    </nav>
</header>