<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pegasus Transport - Reliable and comfortable taxi service to and from Arlanda Airport. Book your ride in advance for smooth, punctual airport transfers in Stockholm." />
    <meta name="keywords" content="Arlanda airport taxi, Stockholm taxi, airport transfer, Arlanda transport, taxi booking, Sweden airport shuttle, reliable taxi service" />
    <title>@ViewData["Title"] - Pegasus_MVC</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pegasus_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/confirm-succes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cookie-banner.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
    <partial name="_Header" />
    <partial name="_CookieBanner" />

    <main role="main">
        @RenderBody()
    </main>
    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cookie-consent.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    
</body>
</html>
