* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*body {

    background-image: url('/images/hero_plane.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
